body {
    background-color: #3b3b4f;
    color: white;
}
main {
    max-width: 600px;
    min-width: 450px;
    margin: 50px auto 100px;
    padding: 20px 40px 40px;
    background-color: rgba(255,255,255,0.1);
}

label, .basic {
    display: block;
}

h1, p {
    text-align: center;
    font-family: "Times New Roman", serif;
}
p {
    font-style: italic;
    font-size: 1.3em;
}

legend, .title {
    font-family: "Agency FB", serif;
    font-size: 1.25em;
}

fieldset {
    border: none;
}

select, textarea {
    background-color: #3b3b4f44;
}

input[text], input[checkbox], input[radio] {
    color: #3b3b4f44;
}

button {
    width: 200px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}